:root {
  --DEFAULT-PADDING: 8px;
  --MESSAGE_DISAPPEAR_TIMEOUT: 5s
}

body {
  margin: 0
}

dialog {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  margin-top: var(--DEFAULT-PADDING);
  z-index: 1
}

.move-right {
  transition: right 1s, opacity 1s .25s;
  opacity: 0
}

.transparent {
  transition: opacity 1s var(--MESSAGE_DISAPPEAR_TIMEOUT);
  opacity: 0
}

.transparent:hover {
  transition: opacity 0s;
  opacity: 1
}

.formTemplateRoot input#apiKey {
  width: 32ch
}

.formTemplateRoot input#tags,
.formTemplateRoot input#photosCount {
  width: 100%
}

.formTemplateRoot input:not([type=radio]) {
  margin-left: var(--DEFAULT-PADDING)
}

.formTemplateRoot label[for=requestKindWithCallback] {
  margin-left: calc(1.5 * var(--DEFAULT-PADDING))
}

.formTemplateRoot input[type=radio] {
  margin: 3px 0 0 4px
}

.formTemplateRoot div:not(:last-child) {
  margin-bottom: var(--DEFAULT-PADDING)
}

.formTemplateRoot div:nth-child(2),
.formTemplateRoot div:nth-child(3),
.formTemplateRoot div:last-child {
  display: flex
}

.formTemplateRoot div:nth-child(4) {
  text-align: center
}

.formTemplateRoot div:last-child {
  justify-content: space-around
}

.formTemplateRoot button {
  flex-grow: 1
}

#imageContainer {
  /*align-items: center;*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: center;*/
  /*line-height: 0;*/
  position: absolute;
  width: 100%;
  height: 100%
}

#messageContainer div {
  height: 16px;
  bottom: calc(var(--DEFAULT-PADDING) / 2);
  left: calc(var(--DEFAULT-PADDING) / 2);
  position: fixed;
  color: white;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-shadow: -1px -1px black, 0 -1px black, 1px -1px black, 1px 0 black, 1px 1px black, 0 1px black, -1px 1px black, -1px 0 black
}
