:root {
  --DEFAULT-PADDING: 8px
}

body {
  margin: 0
}

dialog {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  margin-top: var(--DEFAULT-PADDING);
  z-index: 1
}

.transparent {
  transition: opacity 1s;
  opacity: 0
}

.transparent:hover {
  transition: opacity 0s;
  opacity: 1
}

div.formTemplateRoot input#api_key {
  width: 32ch
}

div.formTemplateRoot input#tags,
div.formTemplateRoot input#photosCount {
  width: 100%
}

div.formTemplateRoot input:not([type=radio]) {
  margin-left: var(--DEFAULT-PADDING)
}

div.formTemplateRoot label[for=requestKindWithCallback] {
  margin-left: calc(2 * var(--DEFAULT-PADDING))
}

div.formTemplateRoot input[type=radio] {
  margin: 3px 0 0 3px
}

div.formTemplateRoot div:first-child,
div.formTemplateRoot div:nth-child(2),
div.formTemplateRoot div:nth-child(3),
div.formTemplateRoot div:nth-child(4) {
  margin-bottom: var(--DEFAULT-PADDING)
}

div.formTemplateRoot div:nth-child(2),
div.formTemplateRoot div:nth-child(3),
div.formTemplateRoot div:last-child {
  display: flex
}

div.formTemplateRoot div:nth-child(4) {
  text-align: center
}

div.formTemplateRoot div:last-child {
  justify-content: space-around
}

div.formTemplateRoot button {
  flex-grow: 1
}

div#imageContainer {
  /*align-items: center;*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: center;*/
  /*line-height: 0;*/
  position: absolute;
  width: 100%;
  height: 100%
}

div.message {
  height: 16px;
  bottom: calc(var(--DEFAULT-PADDING) / 2);
  left: calc(var(--DEFAULT-PADDING) / 2);
  position: fixed;
  color: white;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold
}

div.red {
  color: darkred
}
